<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dusk City Outlaw Creator</title>
</head>
<body>
    <h1>Main Dashboard</h1> 
    <a href="/characters/new-character">Create a new Character</a>
    <nav id="charNav">
        <ul>
            <% for(let i = 0; i < characters.length; i++) { %>
                <li>
                    <a href="/characters/<%= characters[i]._id %>"><%= characters[i].name %></a>
                </li>
            <% } %>
        </ul>
    </nav>
    <h3><%= character.name %></h3>
    <section>
        <a href="/characters/<%= character._id%>/edit">Edit Character</a>
    </section>
    <section>
        <form action="/characters/<%= character._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Character" />
        </form>
    </section>
</body>
</html>