<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dusk City Outlaw Creator</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="https://i.imgur.com/YJrsD5Q.jpg" />
</head>
<body>
    <!-- Disclamer: I do not own the rights to Dusk City Outlaws. I am not affiliated with Dusk City Outlaws or Scratch Pad Publishing. All information regarding character types, cartels, and character attributes belong to Dusk City Outlaws and Scratchpad Publishing. This is a personal product designed for personal use. -->
        <div class="parent">
            <div class="basics">
                <section id="charinfo">
                    <img src="<%= character.image %>" alt="Image of <%= character.name %>" id="face">
                    <h3 class="dashheader"><%= character.name %></h3>
                    <h4 id="titles"><%= character.speciality %> | <%= character.cartel %></h4>
                    <p id="description"><%= character.description %></p>
                </section>
                <section id="dasheditdelete">
                    <a href="/characters/<%= character._id%>/edit" class="linkbutton">Edit Character</a>
                    <form action="/characters/<%= character._id %>?_method=DELETE" method="POST" id="chardelete">
                        <input type="submit" value="Delete Character" />
                    </form>
                </section>
            </div>
            <div class="expertise">
                <section id="luckinfluence" class="expertisecontainer">
                    <h3 class="dashheader">Luck: <%= character.luck %> points</h3>
                    <% if (character.influence === true) { %>
                        <h3 class="dashheader">Influence Available</h3>
                    <% } else { %>
                        <h3 class="dashheader">Influence Exhausted</h3>
                    <% } %>
                </section>
                <section class="expertisecontainer">
                    <h3 class="dashheader">Quirks</h3>
                    <ul>
                        <% for(let i = 0; i < character.quirks.length; i++) { %>
                            <li>
                                <%= character.quirks[i] %></a>
                            </li>
                        <% } %>
                    </ul>
                </section>
                <section class="expertisecontainer">
                    <h3  class="dashheader">Cartel's Knowledge</h3>
                    <p><%= cartel.knowledge %></p>
                </section>
                <section class="expertisecontainer">
                    <h3  class="dashheader">Individual's Knowledge</h3>
                    <p><%= character.iKnowledge %></p>
                </section>
                <section class="expertisecontainer" id="skillcontainer">
                    <h3  class="dashheader">Specialty's Skills</h3>
                    <ul class="skillsList">
                        <% for(let i = 0; i < speciality.skills.length; i++) { %>
                            <li id="skillsItem">
                                <%= speciality.skills[i].skillName %>......<%= speciality.skills[i].skillPerc %>%
                            </li>
                        <% } %>
                    </ul>
                </section>
                <section class="expertisecontainer" id="skillcontainer">
                    <h3  class="dashheader">Individual's Skills</h3>
                    <ul>
                        <% for(let i = 0; i < character.iSkills.length; i++) { %>
                            <li id="skillsItem">
                                <%= character.iSkills[i].skillName %></a>......<%= character.iSkills[i].skillPerc %></a>%
                                <form action="/characters/<%= character._id %>/<%= character.iSkills[i]._id %>?_method=PATCH" method="POST">
                                    <input type="submit" value="X" id="delete" />
                                </form>
                            </li>
                        <% } %>
                    </ul>
                    <form action="/characters/addskill/<%= character._id %>?_method=PATCH" method="POST" id="addskillform">
                        <div id="skillforminputs">
                            <div>
                                <label for="skillName">Skill Name</label>
                                <input type="text" id="skillName" name="skillName" />
                            </div>
                            <div>
                                <label for="skillPerc">Skill Percent</label>
                                <input type="text" id="skillPerc" name="skillPerc" />
                            </div>
                            <br />
                        </div>
                        <input type="submit" value="Add New Skill" />
                    </form>
                </section>
            </div>
            <div class="dashnav">
                <section>
                    <a href="/characters/new-character" class="linkbutton">Create a new Character</a>
                </section>
                <section id="charNav">
                    <nav>
                        <h3  class="dashheader">Your Characters</h3>
                        <ul>
                            <% for(let i = 0; i < characters.length; i++) { %>
                                <li>
                                    <a href="/characters/<%= characters[i]._id %>"><%= characters[i].name %></a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </section>
            </div>
            <footer>
                <p>DISCLAIMER: This application is a personal project and is not affiliated with Dusk City Outlaws or Scratchpad Publishing. All information regarding character types, cartels, and character attributes belong to Dusk City Outlaws and Scratchpad Publishing.</p>
                <p>App By Julie Webb | <a href="Github.com/JFWebb" target="blank" class="footerlink">Github.com/JFWebb</a> | <a href="https://twitter.com/juliefwebb" target="blank" class="footerlink">Twitter.com/JulieFWebb</a></p>
            </footer>
        </div>
</body>
</html>